

<form class="ui form">
    
  <div>
    <h1> START REGISTRATION </h1>
     </div>

     <div>
       <img src="assets/Images/registerimage.jpg" style= "width: 150px ; height: 150px">
     </div>
     <div class="field">
      <input type = "text" placeholder="Firstname">
     </div>


    <div class="field">
      <input type ="text" placeholder="Lastname">
     </div>
    

     <div class="field">
       <input type="text" placeholder="Telephone number">
     </div>

     <div class="field">
       <input type ="text" placeholder="Email:example@gmail.com">
     </div>

     
     <div class="field">
       <input type ="password" placeholder="Password">
     </div>

     
     <div class="field">
       <input type="password" placeholder="Comfirm Password">
     </div>

    
     <div class="ui animated fade button" tabindex="0">
        <div class="visible content">Sign-up now </div>
        <div class="hidden content">
    Be a member now!
        </div>
      </div>
   

</form>

   